<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classifier</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Image Classifier</h2>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="image">Upload Image:</label>
                <input type="file" class="form-control-file" name="image" accept=".jpg, .jpeg, .png" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if request.method == 'POST' %}
            <div class="mt-5">
                <h4>Result:</h4>
                <img src="{{ url_for('static', filename='result_image.png') }}" class="img-fluid" alt="Result Image">
            </div>
            <div class="mt-5">
                <h4>GradCam:</h4>
                <img src="{{ url_for('static', filename='gradcam.png') }}" class="img-fluid" alt="GradCam Image">
            </div>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
